# secrets
.env
.env.*.local

# dependencies
node_modules/

# hardhat build stuff
artifacts/
cache/
coverage/
typechain/
broadcast/
ignition/deployments/

# editors & OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

typechain-types/